NEXT_PUBLIC_REPO_URL = 
NEXT_PUBLIC_BASE_URL = 
NEXT_GITHUB_TAG_SPECIFIC_RELEASE_DATA_EP = 
NEXT_GITHUB_RELEASE_DATA_EP = 
NEXT_GITHUB_CONTRIBUTORS_DATA_EP = 
NEXT_GITHUB_REPO_CHANGELOG_URL = 
NEXT_GITHUB_AUTH_TOKEN = 