Source: pras-cli
Section: utils
Priority: optional
Maintainer: PRAS <prassamin@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://pras.me
Rules-Requires-Root: no

Package: pras-cli
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, avahi-daemon, zenity, yad
Description: CLI tool for running various utility scripts
 pras-cli provides a command 'pras' that allows running various utility scripts
 using subcommands. It integrates with avahi-daemon for network discovery and
 uses zenity and yad for graphical dialogs when needed. This tool simplifies
 common tasks by providing an easy-to-use command-line interface for various
 system and network operations.
